@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

.header {
  text-align: center;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
}

.NavBar {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.nav {
  text-decoration: none;
  padding: 45px;
  font-size: 20px;
  color: black;
}

.nav:hover {
  color: black;
  border: solid rgb(149 36 56) 1px;
}

.welcome {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 50px;
  line-height: 45px;
  border: solid black 1px;
}

.welcome-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.car-image {
  max-width: 100%;
  max-height: 100%;
}

.car-image-container {
  text-align: center;
}

.car-images {
  margin: 10px;
  max-width: 50%;
  max-height: 50%;
}

.car-container {
  text-align: center;
  padding: 45px;
}

.details {
  font-family: 'Montserrat', sans-serif;
}

#car-name {
  font-size: 23px;
}

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  border: solid rgb(149 36 56) 3px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-container2 {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  border: solid rgb(149 36 56) 3px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.form-button {
  width: 150px;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  background-color: black;
  height: 45px;
}

.form-button2 {
  width: 150px;
  font-size: 13px;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  background-color: black;
  height: 45px;
}

.form-button:hover {
  color: black;
  background-color: white;
  border: solid black 1px;
}

.form-button2:hover {
  color: black;
  background-color: white;
  border: solid black 1px;
}

.form-inputs {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.project-container {
  text-align: center;
  padding: 30px;
}

.project-element {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-size: 25px;
}

.description {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.project-button {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  border: none;
}

.button-container {
  padding: 30px;
}

.project-button:hover {
  color: black;
  background-color: white;
  border: solid black 1px;
}

.edit-form {
  font-family: 'Montserrat', sans-serif;
}

#Hint {
  border: solid red 45px;
}